@tailwind base;
@tailwind components;
@tailwind utilities;

input, select {
  @apply border rounded-lg px-3 py-2 w-full;
}
button {
  @apply rounded-xl px-4 py-2;
}
.card {
  @apply bg-white shadow-md rounded-2xl p-4;
}

.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}